@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.trapez {
  height: 50px;
  background-color: white;
  transform: perspective(30px) rotateX(10deg);
}

/* Hide scroll indicators for Microsoft Edge */
.hide-scroll-indicators {
  -ms-overflow-style: none; /* Edge Legacy */
  scrollbar-width: none; /* Edge Chromium */
}

/* Hide scroll indicators for Internet Explorer */
.hide-scroll-indicators {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* Hide scroll indicators for Firefox */
.hide-scroll-indicators {
  scrollbar-width: none; /* Firefox 64+ */
}

/* Hide scroll indicators for Webkit-based browsers */
.hide-scroll-indicators::-webkit-scrollbar {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px;
}

/* :root {


@layer utilities {
  .custom-200-ease-out {
    transition-property: all;
    transition-timing-function: ease-out;
    transition-duration: 200ms;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
/* } */

@layer utilities {
  .pri-anim {
    @apply transition-all duration-300 ease-in-out;
  }
  .text-balance {
    text-wrap: balance;
  }
}
